# Ignore local DuckDB database binaries
*.db
*.db.wal

# Python environment & cache files
__pycache__/
*.pyc
.env
.venv/
env/

# Data drop-zones (Keep the directory structure, ignore the raw test files)
data/source_landing/*
data/quarantine_vault/*
!data/source_landing/.gitkeep
!data/quarantine_vault/.gitkeep
